<!DOCTYPE html>
<html>
<head>
    <title>Photos from sequence {{sequence_id}}</title>
</head>
<body>
{% for photoid in photos -%}
<a href="https://www.mapillary.com/app/?pKey={{photoid}}&amp;focus=photo"><img src="https://d1cuyjsrcm0gby.cloudfront.net/{{photoid}}/thumb-320.jpg" width="160" height="{{160*3/4}}"></a>
{% endfor %}
</body>
</html>
